!!! 5
html
  head
    title= title
    link(href="http://fonts.googleapis.com/css?family=UnifrakturCook:bold", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/reset.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/typography.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/colors.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/forms.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/uielements.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/layout.less", rel="stylesheet/less", type="text/css")
    // LESS
    script(src=base_url+"includes/js/less-1.0.35.min.js", type="text/javascript")
    // jQuery Library + UI Tools + plugins
    script(src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js", type="text/javascript")
    // jQuery UI
    link(href=base_url+"includes/css/ui-darkness/jquery-ui-1.8.7.custom.css", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js", type="text/javascript")
    script(src=base_url+"includes/js/client.js", type="text/javascript")
  body
    #header
    	#navbar
        .left-navigation
          span#collapse-expand
            span#collapse-control
              a(id="collapse-button", href='#', title='Collapse everything') Collapse
            span#expand-control
              a(id="expand-button", href='#', title='Expand everything') Expand
          span \ - 
          span#edit-page
            span#default-control
              a(id="edit-button", href='#') Edit
            span#editing-control
              span [\ 
              a(id="done-button", href='#') Done
              span \ - 
              a(id="add-feed-button", href='#') Add Feed
              span \ - 
              a(id="add-column-button", href='#') Add Column
              span \ ]
        .right-navigation
          span#login
            a(href=base_url+'home/login', title='Login') Login
          span \ - 
          span#signup
            a(href=base_url+'home/signup', title='Sign Up') Sign Up
        .clear
      #folio
        h1 The Headlyne Times
        #subtitle December 23, 2010
    #reader.modal
      .content
        h2.title
        .body
    #notifications
      p.content
        b Headlyne allows you to read all of your feeds without ever having to leave the page.
        p Click on any body of text or any headline on this page to read the whole article. Feel feel to play around with anything you see!
        p After logging in or signing up, you can edit this page and make it totally yours with the edit button on the top left corner of the page.
        p Enjoy!
      p.hide-label (click on this message to hide)
    #content!= content
    #footer
      #copyright Copyright 2010, Chetan Surpur and Manoj Mardithaya
