!!! 5
html
  head
    title= title
    link(href="http://fonts.googleapis.com/css?family=UnifrakturCook:bold", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/reset.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/typography.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/colors.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/forms.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/uielements.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/layout.less", rel="stylesheet/less", type="text/css")
    // LESS
    script(src=base_url+"includes/js/less-1.0.35.min.js", type="text/javascript")
    // jQuery Library + UI Tools + plugins
    script(src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js", type="text/javascript")
    // jQuery UI
    link(href=base_url+"includes/css/ui-darkness/jquery-ui-1.8.7.custom.css", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js", type="text/javascript")
    script(src=base_url+"includes/js/client.js", type="text/javascript")
  body
    #header
    	#navbar
        .page-navigation!= page_navigation
        .account-navigation!= account_navigation
        .clear
      #folio
        h1.title= folio_title
        .subtitle= folio_subtitle
    #reader.modal
      .content
        h2.title
        .body
    #notifications
      .content
        .body!= notifications
        .hide-label
          p (click on this message to hide)
    #content!= content
    #footer
      #copyright Copyright 2010, Chetan Surpur and Manoj Mardithaya
