!!! strict
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title= title
    link(href="http://fonts.googleapis.com/css?family=UnifrakturCook:bold", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/reset.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/typography.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/colors.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/forms.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/uielements.css", rel="stylesheet", type="text/css")
    link(href=base_url+"includes/css/layout.less", rel="stylesheet/less", type="text/css")
    // LESS
    script(src=base_url+"includes/js/less-1.0.35.min.js", type="text/javascript")
    // Google Loader
    script(src="http://www.google.com/jsapi?key=AIzaSyA5m1Nc8ws2BbmPRwKu5gFradvD_hgq6G0", type="text/javascript")
    // Google Libraries
    script(type="text/javascript");
      | google.load("jquery", "1.4.4");
      | google.load("jqueryui", "1.8.9");
      | google.load("feeds", "1");
    // jQuery Tools
    script(src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js", type="text/javascript")
    // Headlyne Client
    script(src=base_url+"includes/js/client.js", type="text/javascript")
  body
    #header
    	#navbar
        .page-navigation!= page_navigation
        .account-navigation!= account_navigation
        .clear
      #folio
        h1.title= folio_title
        .subtitle= folio_subtitle
    #reader.modal
      .content
        h2.title
        .body
    #notifications
      .content
        .body!= notifications
        .hide-label
          p (click on this message to hide)
    #content!= content
    #footer
      #copyright &copy 2011 Chetan Surpur and Manoj Mardithaya
