.feed-header
  h3.feed-title= title
  .feed-url= url
  .feed-edit-control
    span.feed-edit-click-label Click to edit
    span.feed-edit-items-label Items to display:\ 
      select
        option 1
        option 2
        option 3
        option 4
        option 5
        option 6
        option 7
        option 8
        option 9
        option 10
    .clear
  .feed-preview
.feed-body
  - each item in items
    .feed-item
      .feed-item-header
        - if (title_selection == "item")
          - if (item.title)
          h2.feed-item-title= item.title
        - if (title_selection == "webpage")
          - if (item.webpage)
            - if (item.webpage.title)
              h2.feed-webpage-title= item.webpage.title
      .feed-item-body
        .feed-item-snippet
          - if (body_selection == "item")
            - if (item.description)
              div.feed-item-description!= item.description
          - if (body_selection == "webpage")
            - if (item.webpage)
              - if (item.webpage.body)
                div.feed-webpage-snippet!= item.webpage.body
