.header
  h3.title= title
  .settings
    .url= url
    .num-feed-items= num_feed_items
    .title-selection= title_selection
    .body-selection= body_selection
  .edit-overlay
    span.move-icon
    span.edit-delete
      span [\ 
      span.delete
        span.default-control
          a.delete-button(href='#') Delete
        span.deleting-control
          a.delete-confirm-button(href="#") Confirm Delete
          span \ - 
          a.cancel-button(href='#') Cancel
      span \ - 
      span.edit
        span.default-control
          a.edit-button(href='#') Edit
        span.editing-control
          a.done-button(href='#') Done
      span \ ]
    .clear
.source
  .url-control
    input(type="text", value=url, placeholder="type to search or enter feed URL").url-input
.preview
.body!= body
