.header
  h3.title= title
  .settings
    .title-selection= title_selection
    .body-selection= body_selection
  .edit-overlay
    span.move-icon.ui-icon.ui-icon-arrow-4
    span.edit-delete
      span [\ 
      span.delete
        span.default-control
          a.delete-button(href='#') Delete
        span.deleting-control
          a.delete-confirm-button(href="#") Confirm Delete
          span \ - 
          a.cancel-button(href='#') Cancel
      span \ - 
      span.edit
        span.default-control
          a.edit-button(href='#') Edit
        span.editing-control
          a.done-button(href='#') Done
      span \ ]
    .clear
.source
  .url-control
    input(type="text", value=url, placeholder="feed URL").url-input
.preview
.body
  - each item in items
    .item
      .header
        - if (title_selection == "item")
          - if (item.title)
            h2.title.modalInput(rel="#reader")= item.title
        - if (title_selection == "webpage")
          - if (item.webpage)
            - if (item.webpage.title)
              h2.title.modalInput(rel="#reader")= item.webpage.title
        - if (item.link)
          .url= item.link
      .body
        .full-article
        - if (body_selection == "item")
          - if (item.description)
            div.snippet!= item.description
        - if (body_selection == "webpage")
          - if (item.webpage)
            - if (item.webpage.snippet)
              div.snippet!= item.webpage.snippet
