.feed-header
  h3.feed-title= title
  .feed-url= url
  .feed-edit-overlay
    span.feed-move-icon.ui-icon.ui-icon-arrow-4
    span.feed-edit-control
      span [\ 
        span.feed-delete-default-control
          a.feed-delete-button(href='#') Delete
        span.feed-delete-deleting-control
          a.feed-delete-cancel-button(href='#') Cancel
      span \ - 
        span.feed-edit-default-control
          a.feed-edit-button(href='#') Edit
        span.feed-edit-editing-control
          a.feed-edit-done-button(href='#') Done
      span \ ]
    .clear
.feed-preview
.feed-body
  - each item in items
    .feed-item
      .feed-item-header
        - if (title_selection == "item")
          - if (item.title)
            h2.feed-item-title= item.title
        - if (title_selection == "webpage")
          - if (item.webpage)
            - if (item.webpage.title)
              h2.feed-webpage-title= item.webpage.title
      .feed-item-body
        .feed-item-snippet
          - if (body_selection == "item")
            - if (item.description)
              div.feed-item-description!= item.description
          - if (body_selection == "webpage")
            - if (item.webpage)
              - if (item.webpage.body)
                div.feed-webpage-snippet!= item.webpage.body
