- each item in items
  .item
    .header
      - if (title_selection == "item")
        - if (item.title)
          h2.title.modalInput(rel="#reader")= item.title
      - if (title_selection == "webpage")
        - if (item.webpage)
          - if (item.webpage.title)
            h2.title.modalInput(rel="#reader")= item.webpage.title
      - if (item.link)
        .url= item.link
        .from
          p
            | from
            a(href=item.link, target="_blank")= title
    .body
      .full-article
      - if (body_selection == "item")
        - if (item.description)
          div.snippet!= item.description
      - if (body_selection == "webpage")
        - if (item.webpage)
          - if (item.webpage.snippet)
            div.snippet!= item.webpage.snippet
