.signup
  form(action=base_url+"home/signup", method="post")
    .username-control
      input.username-input(type="text", placeholder="username", name="username", value=username)
    .email-control
      input.email-input(type="text", placeholder="email address", name="email", value=email)
    .name-control
      input.first-name-input(type="text", placeholder="first name", name="first_name", value=first_name)
      input.last-name-input(type="text", placeholder="last name", name="last_name", value=last_name)
    .password-control
      input.password-input(type="password", placeholder="password", name="password")
    .confirm-password-control
      input.confirm-password-input(type="password", placeholder="confirm password", name="confirm_password")
    .submit-control
      input.submit-button(type="submit", name="submit", value="Sign Up")
  .message
    - if (typeof(error_message) != 'undefined') // hack to fix weird bug
      p.error= error_message
